{% extends "libros.html" %}
    {% block contenido %}
    <!-- Content -->
    <div class="bg-dark text-white">
        <form action="{{ url_for('editarLibro',libro_id = libro.id)}}" method="post">
            <div class="form-group m-2 pt-2">
                <label for="nombre">Titulo:</label>
                <input type="text" class="form-control" name="nombre" value="{{libro.titulo }}">
                <label for="autor">Autor:</label>
                <input type="text" class="form-control" name="autor" value="{{libro.autor }}">
                <label for="genero">Genero:</label>
                <input type="text" class="form-control" name="genero" value="{{libro.genero }}">
                <label for="editorial">Editorial:</label>
                <input type="text" class="form-control" name="editorial" value="{{libro.editorial }}">
                <div class="btn-group pt-3 pb-3">
                    <button type="submit" class="btn btn-success"> Guardar</button>
                    <a href='{{ url_for("mostrarLibros") }}'>
                        <button type="button" class="btn btn-warning">Cancelar</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
   